<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Edit Review</h1>
    <form method="POST" action="/reviews/<%= review.id %>?_method=PATCH">
        Stars: <input type="number" value="<%= review.stars %>">
        <br>
        <textarea name="review" id="" cols="30" rows="10">
<%= review.review %> 
    </textarea>
        <br>
        <button>Save</button>
    </form>
    <a href="/reviews">Back to Index</a>
</body>

</html>